<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<header>
        <a href="http://users.corelabs.com.tr/controlpanel" style="float: right;">Access to control panel</a>
	</header>
<div class="container">
		<h1 class="text-center m-5">Corelabs kullanıcı kapısı</h1>

	</div>
	<section class="bg-warning text-center p-5 mt-4">
		<div class="container p-3">
			<h3>Panel erişimi için</h3>
			<form action="https://users.corelabs.com.tr/users/" method="POST">
				<input type="email"  name="email" placeholder="E-posta adresinizi yazın">
				<button type="submit" class="btn btn-secondary">Giriş</button>
			</form>
		</div>
	</section>

	<footer>
		<p>© Corelabs.com.tr</p>
	</footer>