<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<section id="tabs" class="landing-tab">
            <div class="container">
            <div class="row">
                    <div class="col-md-12">
                        <h1>Corelabs</h1>
                        <h2>Kullanıcı Panel Erişimi</h2>
                    </div>
            </div>
 <body>

 <form action = "http://api.corelabs.com.tr/users/" method = "POST">
 Email address: <input type="email" name="email">
 <input type = "submit" value="Submit">
 </form>
 </body>
 </html>